# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
crackbrain
il_caso_el_hajj.docx
il_caso_el_hajj.html
il_caso_el_hajj.pdf
il_caso_el_hajj.typ
il_caso_el_hajj.odt
prospettiva_batelka.html
prospettiva_batelka.typ
sample.pdf
sample.typ
scenario_demo_2023_02_16.pdf
scenario_demo_2023_02_16.typ
1.json
.~lock.il_caso_el_hajj.odt#
